/***************
RESET
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
GENERAL
***************/
.container {
    margin: auto;
    text-align: center;
}

body div div {
    margin-top: 20px;
}