/***************
RESET
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
COLOR
***************/
.cells-container div {
    background-color: beige;
}

/***************
GENERAL
***************/
.container {
    margin: auto;
    text-align: center;
}

body div h1 {
    margin: 10px 0;
}

.cells-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 2px;
}

.cells-container div {
    width: calc((100% / 10) - 5px);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}